body {
	background: #eeeeee;
	padding-bottom: 50px;
}

hr {
	border-color: #CCC;
}

.jumbotron {
	background: #ffffff;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.container-messages {
	margin-top: 20px;
}

footer {
	width: 100%;
	height: 50px;
	margin-top: 30px;
}

footer p {
	text-align: center;
	font-size: 16px;
	line-height: 50px;
}

label.error {
	color: #a94442;
	font-size: 12px;
}

.table {
	background: #FFFFFF;
}

	.table tr td.actions {
		white-space: nowrap;
		width: 1px;
	}

.block {
	display: block;
}

.alert>p, .alert>ul {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}

.align-center {
	margin: 0 auto;
}


.navbar-inverse .navbar-brand {
	padding: 0;
}
	.navbar-inverse .navbar-brand img {
		max-height: 100%;
	}

.ajax-loader {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 32px;
	height: 32px;
	background: url(../img/ajax-loader.gif);
}


.modal-footer {
	background: #f2f2f2;
}

.modal-header {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.modal-title {
	color: #FFFFFF;
}

.modal-header .close {
	color: #FFFFFF;
}

@media print {
    table {
		page-break-inside: avoid;
	}
	
	header, footer {
		display: none;
	}
}

@media screen and (min-width: 1025px) {

    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
    	padding-right: 10px;
    	padding-left: 10px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-nav a i {
    	display: none;
    }

    .navbar-inverse .navbar-brand,
    .navbar-inverse .navbar-nav > li > a {
    	padding-right: 5px;
    	padding-left: 5px;
    }
}